<!DOCTYPE html>
<html>
<head>
<title>Krsen</title>
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>
<!-- js -->
<script src="static/js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Express Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="static/js/move-top.js"></script>
<script type="text/javascript" src="static/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
<body>
<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="header">
				<div class="logo">
					<a href="index.html"><img src="static/images/logo.png" alt=" " /></a>
				</div>
				<div class="logo-right">
					<span class="menu"><img src="static/images/menu.png" alt=" "/></span>
						<nav class="cl-effect-1">
							<ul class="nav1">
								<li class="cap"><a href="/" class="act">首页</a></li>
								<li><a href="#portfolio" class="scroll">产品中心</a></li>
								<li><a href="#about" class="scroll">关于我们</a></li>
								<li><a href="#contact" class="scroll">联系我们</a></li>
							</ul>
						</nav>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- script for menu -->
					<script> 
						$( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						});
						});
					</script>
				<!-- //script for menu -->
			<div class="banner-info">
				<h1>我们竭诚为您服务</h1>
				<p>深圳市科蕊兴科技有限公司 </p>
				<div class="read">
					<a href="#about" class="hvr-rectangle-out">了解更多</a>
				</div>
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- portfolio -->
	<div id="portfolio" class="portfolio">
		<div class="container">
			<h2>产品中心</h2>
			<div class="portfolio-grids">
				<div class="col-md-6 portfolio-grid">	
					<div class="portfolio-grid1">
					<a href="static/images/1.jpg" class="b-link-stripe b-animate-go   swipebox"  title="">
						<img class="one" src="static/images/1.jpg" alt=" " title="Science Laboratory" />
						<div class="b-wrapper">
							<h2 class="b-animate b-from-left    b-delay03 ">
								<div class="text-info">
									<h4>Forest App</h4>
									<p>application mobile</p>
								</div>
							</h2>
						</div>
					</a>
					</div>
					<div class="portfolio-grid1">
					<a href="static/images/4.jpg" class="b-link-stripe b-animate-go   swipebox"  title="">
						<img class="one" src="static/images/4.jpg" alt=" " title="Science Laboratory" />
						<div class="b-wrapper">
							<h2 class="b-animate b-from-left    b-delay03 ">
								<div class="text-info text-info1">
									<h4>Forest App</h4>
									<p>application mobile</p>
								</div>
							</h2>
						</div>
					</a>
					</div>
				</div>
				<div class="col-md-6 portfolio-grid">
					<div class="portfolio-grid1">
					<a href="static/images/2.jpg" class="b-link-stripe b-animate-go   swipebox"  title="">
						<img class="one" src="static/images/2.jpg" alt=" " title="Science Laboratory" />
						<div class="b-wrapper">
							<h2 class="b-animate b-from-left    b-delay03 ">
								<div class="text-info text-info1 Forest">
									<h4>Forest App</h4>
									<p>application mobile</p>
								</div>
							</h2>
						</div>
					</a>
					</div>
					<div class="portfolio-grid1">
					<a href="static/images/3.jpg" class="b-link-stripe b-animate-go   swipebox"  title="">
						<img class="one" src="static/images/3.jpg" alt=" " title="Science Laboratory" />
						<div class="b-wrapper">
							<h2 class="b-animate b-from-left    b-delay03 ">
								<div class="text-info asd">
									<h4>Forest App</h4>
									<p>application mobile</p>
								</div>
							</h2>
						</div>
					</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
    <div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>
<link rel="stylesheet" href="static/css/swipebox.css">
	<script src="static/js/jquery.swipebox.min.js"></script> 
		<script type="text/javascript">
			jQuery(function($) {
				$(".swipebox").swipebox();
			});
		</script>
<!-- //portfolio -->
<!-- about -->
	<div id="about" class="about">
		<div class="container">
			<div class="about-info">
				<h3>关于我
					<span>深圳市科蕊兴科技有限公司</span></h3>
				<p>深圳市科蕊兴科技有限公司很好。。。后面还有很多内容</p>
				<div class="read1">
					<a href="#contact" class="hvr-rectangle-out scroll">联系我们</a>
				</div>
			</div>
		</div>
	</div>
<!-- //about -->
<!-- contact -->
	<div class="contact" id="contact">
		<div class="container">
			<h2>联系我们</h2>
			<div>
	<div>
		<span style="font-size:14px;"><strong>深圳市科蕊兴科技有限公司</strong></span></div>
	<div>
		<strong>SHENZHEN KERUIXING TECHNOLOGY CO.,LTD.</strong></div>
	<div>
		电话：＋86 18123277033 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;邮编：518100</div>
	<div>
		网址：
		<a href="www.krsen.cc">
		www.krsen.cc </a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;邮箱：
		<a class="email" href="mailto:ping.zeng@krsen.cc">ping.zeng@krsen.cc</a></div>
	<div>
		公司地址：深圳市宝安区 </div>
</div>

		</div>
	</div>
<!-- //contact -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-left">
				<p>Copyright &copy; 2015. </p>
			</div>
			
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //footer -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>